.back{
    border-left: 2px solid white;
    text-align-last: start;
} 
.highlight1{
    text-decoration: underline;
}

.background{
    background: #fbfaff;
   
}
.background1{
    background: #f3f3ff;
}